body {
    background-color: #ffd380;
    text-align: center;
}

header {
    color: #8a508f;
    font-size: 50px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    background-color: #8a508f;
    border-spacing: 15px;
    border-style: dotted;
    border-width: 5px;
    font-size: 18px;
    color: aquamarine;
    margin: 15px;
}

ol {
    padding-top: 20px;
    padding-bottom: 20px;
}

legend {
    padding: 20px;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #8a508f;
}